* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

#logo {
  margin-left: 10px;
  height: 50px;
  width: auto;
}

#navbar {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
}

#navlinks {
  text-decoration: underline;
}

#mission {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url("imgs/img-mission-background.jpg");
}

img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: inline-block;
}

#locations {
  height: 500px;
  background-image: url(imgs/img-locations-background.jpg);
}

#locations div {
  margin: 20px;
  width: 300px;
  height: 300px;
  padding: 30px;
  background-color: black;
  opacity: 1;
}

footer {
  height: 250px;
}
